[submodule "ai-cpp-l3/single-task-runner"]
	path = ai-cpp-l3/single-task-runner
	url = https://github.com/PavelGuzenfeld/single-task-runner
[submodule "ai-cpp-l3/exceptions-rt"]
	path = ai-cpp-l3/exceptions-rt
	url = https://github.com/PavelGuzenfeld/exceptions-rt
[submodule "ai-cpp-l3/double-buffer-swapper"]
	path = ai-cpp-l3/double-buffer-swapper
	url = https://github.com/PavelGuzenfeld/double-buffer-swapper
[submodule "ai-cpp-l3/flat-type"]
	path = ai-cpp-l3/flat-type
	url = https://github.com/PavelGuzenfeld/flat-type
[submodule "ai-cpp-l3/ext/cmake-library"]
	path = ai-cpp-l3/ext/cmake-library
	url = https://github.com/PavelGuzenfeld/cmake-library
